*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

.buttonWrapper{
    position: relative;
}

.product-input {
    padding: .6rem 1.2rem;
    color: #444;
    font-size: 1.5rem;
}

.product-label {
    position: absolute;
    top: .6rem;
    left: 1.2rem;
    color: rgba(0, 0, 0, .5);
    font-size: 1.5rem;
    transition: .4s all;
    padding-inline: .25rem;
}

.product-input:focus~.product-label,
.product-input:valid~.product-label {
    top: -.5rem;
    left: .5rem;
    background-color: #fff;
    font-size: 1rem;
}

.select {
    padding-top: 1rem;
    padding-left: 1rem;
    position: relative;
}

.submit-button {
    position: relative;
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-left: 1em;
    margin-top: 1em;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }