<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>danbajda.com</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='documentation.css') }}">
</head>

<body>
  <section class="hero">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('home') }}">
              <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="{{ url_for('home') }}">
                Home
              </a>
              <a class="navbar-item" href="{{ url_for('projects') }}">
                Projects
              </a>
              <a class="navbar-item" href="{{ url_for('documentation') }}">
                Documentation
              </a>
              <span class="navbar-item">
                <a class="button is-info is-inverted" href="https://github.com/tacoman678">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <img src="{{ url_for('static', filename='fishing.png') }}" alt="Fishing">
          </div>
          <div class="column">
            <h1 class="title is-3 has-text-centered">Background:</h1>
            <p>Daniel Joseph Bajda</p>
            <p>Chicago, Illinois</p>
            <p>Junior</p>
            <p>BS in Computer Science Minor in Physics</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-3 has-text-centered">Introduction:</h1>
            <p>Goals:</p>
            <ul style="list-style-type: square;">
              <li>Software Engineering</li>
              <li>Web Design</li>
              <li>e-Portfolio</li>
            </ul>
            <p>Web Scraping Web Application</p>
          </div>
          <div class="column">
            <img src="{{ url_for('static', filename='programmingpython.png') }}" alt="python programmer">
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <img src="{{ url_for('static', filename='Danbajda.com layout.png') }}" alt="Structure">
          </div>
          <div class="column">
            <h1 class="title is-3 has-text-centered">Procedure:</h1>
            <ol>
              <li>Choose a programming language to build the api and web framework that is compatible with that api for
                building the web application. </li>
              <li>Use a web scraping library from the language I chose to create an API that scrapes Target.com for the
                desired product and product aspects (title, price, image, and links) based on user input.</li>
              <li>Use the same technique developed in Step 2 to create an api for another website like Ebay.com</li>
              <li>Create and design a webpage that can be used to display/showcase projects like this one. Then create a
                webpage that can be linked to from the main page that has a form in the web application that allows
                users to input the desired product and the number of products they want to see.</li>
              <li>Connect the form on the web application to the api I created by handling the form submission,
                validating the input, passing it to my api which will retrieve relevant product data from Target.com and
                Ebay.com,
                process the data so that it is in a displayable format on a webpage, and finally return the results.
              </li>
              <li>Deploy the web application to a web hosting service of my choosing.</li>
              <li>Test the web application to ensure it is working as expected.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-3 has-text-centered">Step 1:</h1>
            <div class="columns">
              <div class="column is-half">
                <p class="title is-5 has-text-centered">Frontend</p>
                <ul style="list-style-type: square;">
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JS</li>
                </ul>
                <p>Bulma</p>
              </div>
              <div class="column is-half">
                <p class="title is-5 has-text-centered">Backend</p>
                <ul style="list-style-type: square;">
                  <li>Python</li>
                  <li>Modules</li>
                  <ul style="list-style-type: circle;">
                    <ol>BeautifulSoup</ol>
                    <ol>Selenium</ol>
                    <ol>Flask</ol>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
          <div class="column">
            <img src="{{ url_for('static', filename='python.png') }}" alt="Python">
            <img src="{{ url_for('static', filename='htmlcss.png') }}" alt="HTML/CSS">
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <dl>
              <dt>a.) The modules I will need are Selenium, BeautifulSoup, and pandas</dt>
              <dd>
                <img src="{{ url_for('static', filename='libraries.png') }}" alt="libraries">
              </dd>
              <dt>b.) My search_product() method that returns the html parse tree for a given product search on
                Target.com
              </dt>
              <dd>
                <img src="{{ url_for('static', filename='search_product.png') }}" alt="search">
              </dd>
              <dt>c.) A method that takes an HTML parse tree and returns an array of the desired text</dt>
              <dd>
                <img src="{{ url_for('static', filename='get_titles.png') }}" alt="parse">
              </dd>
              <dt>d.) A method that takes arrays of titles, prices, image links, product links, and a boundary number to
                limit the amount of products that are returned and returns them all in one variable</dt>
              <dd>
                <img src="{{ url_for('static', filename='format_data.png') }}" alt="format">
              </dd>
            </dl>
          </div>
          <div class="column">
            <h1 class="title is-3 has-text-centered">Step 2:</h1>
            <p>virtual environment</p>
            <p class="code">python -m venv venv</p>
            <p class="code">venv\Scripts\activate</p>
            <p class="code">pip install...</p>
            <p>Get HTML from Target.com</p>
            <p>Look for specific html elements that correspond to title, price, image, and product link</p>
            <p>Format data</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-3 has-text-centered">Step 3:</h1>
            <p>Clone code from previous step</p>
            <p>Make revisions</p>
          </div>
          <div class="column">
            <dl>
              <dt>a.) The aspects for the chrome browser using selenium remain the same, only the url changes.</dt>
              <dd>
                <img src="{{ url_for('static', filename='search_product1.png') }}" alt="search">
              </dd>
              <dt>b.) All the elements for the title, price etc... are different as it is a different website. Below is
                an example of how the code was adapted to still function correctly</dt>
              <dd>
                <img src="{{ url_for('static', filename='get_titles1.png') }}" alt="parse">
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <dl>
              <dt>a.) result.html</dt>
              <dd>
                <img src="{{ url_for('static', filename='results.png') }}" alt="result.html">
              </dd>
              <dt>b.) Jinja2 syntax</dt>
              <dd>
                <img src="{{ url_for('static', filename='jinja.png') }}" alt="Jinja2">
              </dd>
              <dt>c.) search.html</dt>
              <dd>
                <img src="{{ url_for('static', filename='search.png') }}" alt="search">
              </dd>
              <dt>d.) HTTP post in search.html</dt>
              <dd>
                <img src="{{ url_for('static', filename='post.png') }}" alt="post">
              </dd>
            </dl>
          </div>
          <div class="column">
            <h1 class="title is-3 has-text-centered">Step 4:</h1>
            <p>Create an interface to display data</p>
            <p>Dynamically reuse templates to fit search</p>
            <p>Create interface with a form that allows users to input a product and a number of products</p>
            <p>Use POST method to render search results on result.html webpage</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-3 has-text-centered">Step 5:</h1>
            <p>Intialize a Flask app</p>
            <p>Define Routes</p>
            <p>Pass data from search form (Product, # of Product) to API</p>
            <p>Format and render data into result.html</p>
          </div>
          <div class="column">
            <dl>
              <dt>a.) Creating a Flask app</dt>
              <dd>
                <img src="{{ url_for('static', filename='flask.png') }}" alt="flask">
              </dd>
              <dd>
                <img src="{{ url_for('static', filename='flask1.png') }}" alt="flask1">
              </dd>
              <dt>b.) Defining Routes in Flask app</dt>
              <dd>
                <img src="{{ url_for('static', filename='routes.png') }}" alt="Routes">
              </dd>
              <dt>c.) Passing data from search form to API</dt>
              <dd>
                <img src="{{ url_for('static', filename='pass.png') }}" alt="pass">
              </dd>
              <dt>d.) Rending data into result.html</dt>
              <dd>
                <img src="{{ url_for('static', filename='render.png') }}" alt="render">
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <img src="{{ url_for('static', filename='docker.png') }}" alt="docker">
            <dl>
              <dt>a.) Example of a Dockerfile</dt>
              <dd>
                <img src="{{ url_for('static', filename='dockerfile.png') }}" alt="Dockerfile">
              </dd>
              <dt>b.) Buildpacks and config vars</dt>
              <dd>
                <img src="{{ url_for('static', filename='buildpacks.png') }}" alt="buildpacks">
              </dd>
              <dt>c.) My Procfile</dt>
              <dd>
                <img src="{{ url_for('static', filename='procfile.png') }}" alt="pass">
              </dd>
              <dt>d.) My requirements.txt</dt>
              <dd>
                <img src="{{ url_for('static', filename='requirements.png') }}" alt="requirements">
              </dd>
            </dl>
          </div>
          <div class="column">
            <h1 class="title is-3 has-text-centered">Step 6:</h1>
            <p>Make sure all dependencies are accounted for</p>
            <p>Docker</p>
            <ul style="list-style-type: square;">
              <li>What is a Docker Image?</li>
              <li>Dockerfile</li>
              <li>Build Docker Image with
                <p class="code">docker build -t my-app .  # Must have Docker CLI downloaded</p>
              </li>
            </ul>
            <p>Heroku</p>
            <p>Gunicorn</p>
            <p>Heroku CLI and Heroku Git</p>
            <ul style="list-style-type: square;">
              <li class="code">$ heroku login</li>
              <li class="code">$ heroku git:clone -a myapp</li>
              <li class="code">$ cd myapp ---> $ git add .</li>
              <li class="code">$ git commit -am "make it better"</li>
              <li class="code">$ git push heroku master</li>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-3 has-text-centered">Step 7:</h1>
            <p>Testing, Debugging, Tweaking, and ReDeploying</p>
          </div>
          <div class="column">
            <img src="{{ url_for('static', filename='shiba.png') }}" alt="shiba">
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {

            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }
    });
  </script>

</body>

</html>