<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>danbajda.com</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='documentation.css') }}">
</head>

<body>
  <section class="hero">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('home') }}">
              <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="{{ url_for('home') }}">
                Home
              </a>
              <a class="navbar-item" href="#projects">
                Projects
              </a>
              <a class="navbar-item" href="{{ url_for('documentation') }}">
                Documentation
              </a>
              <span class="navbar-item">
                <a class="button is-info is-inverted">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <img src="{{ url_for('static', filename='fishing.png') }}" alt="Fishing">
          </div>
          <div class="column">
            <h1>Background:</h1>
            <p>Heres a bit about myself before you jump into the juicy stuff. My full name is Daniel Joseph Bajda, I was
              born into a family of 7. I have 4 brothers, yes it was as chaotic as you might think, so much so that
              everyone always called my mother a saint for raising us. I am from a small town named Lombard in the
              western suburbs of Chicago, Illinois. I am currently a junior, but I am planning on graduating in Fall
              2023 at The University of Redlands where I am also on both the men's water polo and swim team. Some things
              that I have
              accomplished in those sports is winning a national championship in water polo, and achieving a top 10 time
              at the university in the 100 yard breaststroke for swim. Some things I like to
              do in my free time are board games (mainly chess, catan, and ocassionally ticket to ride), be outdoors
              (fishing, camping, hiking, and really any sport), and hangouting with friends and family. If you couldn't
              tell
              already, being that most of the activities I like to participate in are games of some sort, I am extremely
              competetive.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1>Introduction:</h1>
            <p> The goal of my final project was to familiarize myself with aspects of software engineering through
              creating my own api and web design that I have never seen before, as well as creating something that can
              strengthen my resume and create a baseline for future projects beyond this one. So, to satisfy these
              standards I have set for myself, I decided to create a web application that collects a specified number
              (user input) of a desired product (user input) on amazon via web scraping and displays the product name,
              price, image, and a number (user input) of relevant reviews pertaining to each listing. To accomplish this
              project, I have broken down the process into seven steps which are listed in the procedure below: </p>
          </div>
          <div class="column">

          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">

          </div>
          <div class="column">
            <h1>Procedure:</h1>
            <ol>
              <li>Choose a programming language to build the api and web framework that is compatible with that api for
                building the web application. </li>
              <li>Use a web scraping library from the language I chose to create an API that scrapes Amazon.com for the
                desired product and product aspects (title, price, image, and reviews) based on user input.</li>
              <li>Use the same technique developed in Step 2 to create an api for another website like Ebay.com</li>
              <li>Use the APIs created in steps 2 & 3 to extract the product name, price, image, and relevant reviews
                from the
                scraped product listings and create a database that is compatible with your chosen web framework to
                store those items.</li>
              <li>Create and design a webpage that can be used to display/showcase projects like this one. Then create a
                webpage that can be linked to from the main page that has a form in the web application that allows
                users to input the desired product and the number of products they want to see.</li>
              <li>Connect the form on the web application to the api I created by handling the form submission,
                validating the input, passing it to my api which will retrieve relevant product data from Amazon.com,
                process the data so that it is in a displayable format on a webpage, and finally return the results.
              </li>
              <li>Deploy the web application to a web hosting service of my choosing.</li>
              <li>Test the web application to ensure it is working as expected.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1>Step 1:</h1>
            <p>For my final project, I chose Python as the language to create a web scraping API and a web application
              framework as well as HTML and CSS for designing the web application itself. Because it contains a wide
              range of powerful modules and frameworks that make these
              activities simpler and more effective, Python is a fantastic language for web development and web
              scraping. Python's inclusion of well-known web scraping packages like BeautifulSoup and Selenium was a key
              factor in my decision to use it. From HTML and XML documents, BeautifulSoup makes it rather simple to
              extract data and specific elements and parse through them. While using Selenium, I can observe how my web
              scraping code interacts with web pages using javascript and requests, which can help me with debugging and
              troubleshooting. Python is also an excellent language for web development due to the availability of
              popular web frameworks such as Flask and Django. Flask is the perfect tool for smaller projects like mine
              because it is portable and simple to use. Python is a popular language in the IT business and is suitable
              for web scraping and web development, so having knowledge with it can be a useful addition to my resume.
              By completing this assignment in Python, I will be able to show my ability for swiftly picking up new
              languages and technologies in addition to gaining experience with Python-specific libraries and
              frameworks.</p>
          </div>
          <div class="column">
            <img src="{{ url_for('static', filename='python.png') }}" alt="Python">
            <img src="{{ url_for('static', filename='htmlcss.png') }}" alt="HTML/CSS">
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <dl>
              <dt>a.) The libraies I will need are Selenium, BeautifulSoup, and pandas</dt>
              <dd>
                <img src="{{ url_for('static', filename='libraries.png') }}" alt="libraries">
              </dd>
              <dt>b.) My search_product() method that returns the html code for a given product search on Amazon.com
              </dt>
              <dd>
                <img src="{{ url_for('static', filename='search_product.png') }}" alt="search">
              </dd>
              <dt>c.) A method that takes an HTML parse tree and returns an array of the desired text</dt>
              <dd>
                <img src="{{ url_for('static', filename='get_titles.png') }}" alt="parse">
              </dd>
              <dt>d.) A method that takes arrays of titles, prices, image links, product links, and a boundary number to
                limit the amount of products that are returned and returns them all in one variable</dt>
              <dd>
                <img src="{{ url_for('static', filename='format_data.png') }}" alt="format">
              </dd>
            </dl>
          </div>
          <div class="column">
            <h1>Step 2:</h1>
            <p>To create my webscraping API, the first step is to download all the python libraries I need listed in
              a.) which will require a virtual enviroment. To make a virtual enviroment in VS Code, I needed to run
              the following commands in the terminal.
              python -m venv venv to create it, and venv\Scripts\activate to activate it. Once activated I can pip
              install all the libraries that I will need.
              After everything I need has been imported, I made a method that returns the html code for a given product
              search on Amazon.com shown in b.). I did this by checking
              if the input was a string and formatting it correctly as a url ex:www.amazon.com/s?k=shirts+for+men, then
              setting up a headless Chrome browser with undetected_chromedriver and various options to disable features
              for faster browsing,
              navigating through the browser to the Amazon search results page for the given product, retrieves the
              page's HTML source and closes the browser, and finally create a BeautifulSoup object which can be easily
              parsed through with the retrieved HTML and returns it. Next I made methods simlilar to the one seen in c.)
              that takes
              an HMTL parse tree (soup) and searches through it for a specific html element. Each respective element was
              found using the
              dev tools on chrome by finding the element containing the text that I want (title, price, image, and
              links). After I made methods
              for each element that I need, I needed to make a way of aggregating all that data so it can be passed to
              my micro-framework using flask.
              I chose to use a pandas dataframe for this because it allowed me to append multiple arrays together while
              giving each array a variable
              name that can be easily accessed. The code for this step is outlined in d.).
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1>Step 3:</h1>
            <p>The steps required to make an API that scrapes the desired data (title, price, image, and product links)
              from Ebay.com are generally the same as the steps outlined above in step 2 with the exception of creating
              a virtual enviroment and install all the required libraries, as the virtual enviroment already exists and
              the libraries have been installed. All the same classes are imported again. The differences will be
              outlined in the adjacent column.</p>
          </div>
          <div class="column">
            <dl>
              <dt>a.) The aspects for the chrome browser using selenium remain the same, only the url changes.</dt>
              <dd>
                <img src="{{ url_for('static', filename='search_product1.png') }}" alt="search">
              </dd>
              <dt>b.) All the elements for the title, price etc... are different as it is a different website. Below is
                an example of how the code was adapted to still function correctly</dt>
                <dd>
                  <img src="{{ url_for('static', filename='get_titles1.png') }}" alt="parse">
                </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">

          </div>
          <div class="column">
            <h1>Step 4:</h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1>Step 5:</h1>
            <p></p>
          </div>
          <div class="column">
            
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">

          </div>
          <div class="column">
            <h1>Step 6:</h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <h1>Step 7:</h1>
            <p></p>
          </div>
          <div class="column">
            
          </div>
        </div>
      </div>
    </div>
    <div class="container is-full-width">
      <div class="notification is-dark">
        <div class="columns">
          <div class="column is-half">
            <video width="640" height="360" controls>
              <source src="{{ url_for('static', filename='demo.mp4') }}" type="video/mp4">
            </video>
          </div>
          <div class="column">
            <h1>Step 8:</h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
    
        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
    
            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
    
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
    
          });
        });
      }
    });
  </script>
  
</body>

</html>