<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <header>
    <h1 class="title is-1 has-text-centered">Enter a Product and Number of Results</h1>
  </header>
  <div class="buttonWrapper">
    <form method="POST" action="{{ url_for('result') }}">
      <input type="text" name="myinput" id="myinput" class="product-input" required="required">
      <label class="product-label">Product</label>
      <div class="select">
        <select id="menu" name="menu">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
        </select>
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
</body>

</html>